node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
desktop-build/
.DS_Store
*.tsbuildinfo
.idea/
*.swp
*.swo
.env
.env.local
llama-binaries/
*.dmg
*.zip
*.asar
